<div id="airline-outer-container">
  <div id="header-nav">
    <button mat-icon-button (click)="previousDay()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{currentDate}}</span>
    <button mat-icon-button (click)="nextDay()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div id="airline-inner-container">
    <div id="left-side">
      <span class="container-title">Aircrafts</span>
      <div id="aircrafts-container">
        <div class="aircraft-card-info" *ngFor="let aircraft of aircraftList">
          <div>{{aircraft.ident}}</div>
          <div>({{totalUsage}})</div>
        </div>
      </div>
    </div>
    <div id="center">
      <span class="container-title">Rotation {{aircraftList ? aircraftList[0].ident : 'Rotation'}}</span>
      <div id="routing-flights-container">
        <div class="flight-card-info" *ngFor="let flight of flightsOfTheDay" (click)="selectFlight(flight)">
          <div class="flight-header">Flight: {{flight.id}}</div>
          <div class="flight-data">
            <div>{{flight.origin}}<div>{{flight.readable_departure}}</div>
            </div>
            <div>
              <mat-icon>arrow_forward</mat-icon>
            </div>
            <div>{{flight.destination}}<div>{{flight.readable_arrival}}</div>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="length" [pageSize]="25" [pageSizeOptions]="[25]" (page)="getUpdatedFlights($event)"
        aria-label="Select page">
      </mat-paginator>
      <div id="timeline-container">
        <div *ngFor="let flight of timelineData">
          <mat-card
            [ngClass]="{'active-flight': flight.readable_departure, 'turnaroundTime': flight.turnaround, 'idle-flight': flight.isIdle }">
            <mat-card-content>
              <div *ngIf="flight.id">{{flight.id}}</div>
              <div *ngIf="flight.readable_departure">{{flight.readable_departure}} - {{flight.readable_arrival}}</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div id="right-side">
      <span class="container-title">
        <button *ngIf="selectedFlights.length > 0" mat-icon-button [matTooltipPosition]="'above'"
          matTooltip="Click to clear selections" (click)="clearSelectedFlights()">
          <mat-icon>refresh</mat-icon>
        </button>
        Flights
        <button *ngIf="selectedFlights.length > 0" mat-icon-button [matTooltipPosition]="'above'"
          matTooltip="Click to update rotation" (click)="updateRotationSchedule()">
          <mat-icon>schedule_send</mat-icon>
        </button>
      </span>
      <div id="selected-flights-container">
        <div class="selected-flight-card-info" *ngFor="let flight of selectedFlights" (click)="removeFlight(flight)">
          <div class="selected-flight-header">{{flight.id}}</div>
          <div class="selected-flight-data">
            <div>{{flight.origin}}<div>{{flight.readable_departure}}</div>
            </div>
            <div>{{flight.destination}}<div>{{flight.readable_arrival}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
